.container {
  @apply
  md:px-0
  x-sm:px-10
}

.main {
  @apply
  px-0
  my-16
  pt-10
  pb-4
  mx-auto
  max-w-3xl
  rounded
  shadow-3xl
  md:px-10
}

.footer-container {
  @apply
  flex
  pt-12
  px-10
  items-center
  col-span-full
  justify-end
  md:px-0
  md:mr-4
}

.footer-text {
  @apply
  font-extralight
  text-light-blue
}